<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .categories {
            display: flex;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 5%;
            flex-direction: row;
            justify-content: space-between;
        }
        .category{
            background-color: cornflowerblue;
            padding: 30px;
        }
    </style>
</head>
<body>


    <!--navbar components extracted from bootstrap-->
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Ecommerce</a>
          <form class="d-flex" role="search">
            
            <button class="btn btn-outline-success" type="submit">cart</button>
          </form>
        </div>
      </nav>
    <h1 class="text-center">welcome to ecommerce</h1>

    <div class="categories">
        <div class="category">All products</div>
        <div class="category">Electronic</div>
        <div class="category">Fassion</div>
        <div class="category">Mobiles</div>
        <div class="category">Appliences</div>
    </div>
<br>
    <h4 class="text-center">Select a category</h4>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>